<?php
/**
 * @var \Application\View\ViewInterface  $this
 *
 * @var \Frontend\Form\Auth              $form
 */

$translator = $this->translator();

$formHelper = $this->form($form->setAttributes([
    'id'    => 'formLogin',
    'class' => 'form flex-container'
]));

$loginEl = $form->get($form::EL_LOGIN)->setAttributes([
    'class' => 'flex-item form-control'
]);

$passwordEl = $form->get($form::EL_PASSWORD)->setAttributes([
    'class' => 'flex-item form-control'
]);

$submit = $form->get($form::SUBMIT)->setAttributes([
    'class' => 'submit flex-item form-control btn btn-primary'
])->setLabel($translator->translate('sign_in'));

?>

<?= $formHelper->openTag() ?>

<?= $formHelper->element($loginEl) ?>
<?= $formHelper->element($passwordEl) ?>

<div class="flex-container column center links">
    <div class="flex-item center"><?= $translator->translate('forgot_password') ?> <a href="#"><?= $translator->translate('reset_password') ?></a></div>
    <div class="flex-item center"><?= $translator->translate('not_registered') ?> <a href="<?= $this->url()->frontend('auth', 'register') ?>"><?= $translator->translate('register') ?></a></div>
</div>

<?= $formHelper->element($submit) ?>

<?= $formHelper->closeTag() ?>