.flex-container{display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-flow:row wrap;justify-content:flex-start;align-content:stretch;padding:0}.flex-item{flex:0 1 50px;margin:0 2px}ul.dropdown-list{display:none;position:absolute;padding:0;left:0;min-width:200px}