<?php
use Application\View\ViewInterface;
use Application\Model\Domain\User;

/**
 * @var ViewInterface   $this
 * @var User            $user
 *
 * @var string          $regPassword
 * @var string          $token
 *
 */

?>

<div style="color: #6a6e70; font-family: 'Roboto', sans-serif;">
    Здравствуйте, <?= $user->getUserName() ?>!
    Для завершения регистрации на <span class="brand"><?= $this->contact()->brandName() ?></span> необходимо
    подвердждение.
    <br/>
    <a
        style="text-decoration: none;
               padding: 5px;
               display: block;
               width: max-content;
               width: -moz-max-content;
               margin-top: 5px;
               background-color: #687ff6;
               color: white;
               border-radius: 3px;"
        href="<?= $this->url()->frontend('auth', 'confirm', ['id' => $user->getId(), 'token' => $token]) ?>"
    >
        Подтвердить регистрацию
    </a>
    <br/>

    Ваши учетные данные:<br/>
    <span style="color: #afb4ba">Логин: <strong><?= $user->getEmail() ?></strong></span>
    <br/>
    <span style="color: #afb4ba">Пароль: <strong><?= $regPassword ?></strong></span>
</div>
