<?php
use Application\View\ViewInterface;
use Application\Model\Domain\User;

/**
 * @var ViewInterface   $this
 * @var User            $user
 *
 * @var string          $token
 *
 */

?>

<div style="color: #6a6e70; font-family: 'Roboto', sans-serif;">
    Здравствуйте, <?= $user->getUserName() ?>!
    От вашего имени был создан запрос на изменение пароля от учетной записи на сайте <span class="brand"><?= $this->contact()->brandName() ?></span>.
    Если запрос создан Вами, перейдите по ссылке для подтверждения:
    <br/>
    <a
        style="text-decoration: none;
               padding: 5px;
               display: block;
               width: max-content;
               width: -moz-max-content;
               margin-top: 5px;
               background-color: #687ff6;
               color: white;
               border-radius: 3px;"
        href="<?= $this->url()->frontend('profile', 'confirm-new-password', ['token' => $token]) ?>"
    >
        Подтвердить изменение пароля
    </a>
    <br/>
</div>
