.block {
  justify-items: center;
  //background-color: @bgWhite;
  //border-radius: @borderRadiusNormal;
  //
  //.box-shadow(-5px, 5px, 20px, @boxShadowDefault);

  p {
    margin-top: 0;
  }


}

.row {
  &.error-code {
    font-size: @fontSizeLogo;
    justify-content: center;
  }

  &.error-text {
    font-size: @fontSizeLarge;
    justify-content: center;
  }
}