.block {
  background-color: @bgLightGrayBlue;
}

.flex-item {
  flex: 0 1;
  margin: 0;
  width: 100%;

  .auth-form {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    margin: auto;
    max-width: @authFormWidth;
    width: 95%;

    .inline {
      border: 1px solid @fontColorSecondary;

      select,input {
        border: none;
      }
    }

    .input {
      .input();
      flex: 1;
      font-size: @fontSizeNormal;
      color: @fontColorMain;
      height: @inputHeight;

      &:-webkit-autofill {
        .input();
      }

      &.has-focus {
        box-shadow: none;
      }
    }

    .select {
      flex: 1;
      height: @inputHeight;
      box-sizing: content-box;
    }

    .textarea {
      flex: 1;
      height: 75px;
      box-sizing: border-box;
      width: 100%;
    }

    .checkbox-label input {
      flex: 1;
      cursor: pointer;
    }

    .inline {
      &:hover {
        outline: none;

        .box-shadow(-2px, 3px, 10px, @boxShadowActive);
      }

      .element {
        &:first-child {
          flex: 1;
        }

        &:last-child {
          flex: 3;
        }
      }
    }

    .element-secondary {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }

    .sub-header {
      align-self: flex-start;
    }

    .links {
      .form-control;
      margin-top: @marginBlock / 2;
      margin-bottom: 0;
      color: @fontColorSecondary;
    }

    button[name=submit], .submit {
      .btn();
      height: @buttonHeightPrimary;
      padding: @paddingButtonNormal;
      background-color: @brandBlue;
      color: @bgWhite;
      max-width: 300px;
      width: 60%;
      font-size: @fontSizeBigger;
      border-radius: @borderRadiusNormal;
    }

    a {
      cursor: pointer;
    }

    .checkbox {
      flex: 1 0 auto !important;
    }
  }
}