.form-vacancy {
  .element-secondary {
    align-self: flex-end;
    margin-bottom: @marginListRow;

    .checkbox-label {
      margin: 0;
      height: @inputHeight;
    }
  }

  .locations.tags {
    .text {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  &.view {
    .locations.tags .text {
      margin: 0;
    }
  }
}