.form-resume {
  .col.photo {
    flex: 2 1;
    margin-right: @marginBlock;

    .element {
      width: initial;
    }
  }

  .main-info {
    .row {
      justify-content: space-between;
    }

    .element {
      flex-basis: @formResumeInputBasis;
      flex-grow: 0;
      margin-left: 0;
      margin-right: 5px;
      align-self: auto;
    }
  }

  .react-date-picker {
    border: none;
    box-shadow: none;
    line-height: 1.4;

    &.with-error {
      .react-date-picker__wrapper {
        .has-error;
      }
    }
  }

  .react-date-picker__wrapper {
    .input();

    align-items: center;
    height: @inputHeight;

    .react-date-picker__inputGroup {
      align-self: baseline;
    }
  }

  .element.element-city {
    display: flex;
    flex-flow: column nowrap;
  }

  .suggest-input {
    &.has-error {
      border: none !important;

      .input-with-button {
        .has-error;
      }
    }
  }

  .paycheck {
    flex-basis: 200px;
  }

  .collection {
    &.languages {
      .fields {
        display: flex;
        flex-flow: wrap row;

        .element {
          flex-grow: 1;
        }
      }
    }

    &.contacts {
      .fields {
        .row;

        .element {
          flex-flow: row wrap;

          &:not(:last-child) {
            margin-right: @marginBlock;
          }
        }
      }
    }

    .add-fieldset {
      margin: 0 @marginBlock;
    }
  }

  .form-block.collection-container {
    padding: @paddingForm / 2 0;

    .collection >.label {
      .form-padding-horizontal;
    }

    >.label {
      padding: 0  @paddingForm;
    }

    .fieldset {
      .form-padding-horizontal;

      .element {
        margin-bottom: @marginListRow;

        &.col {
          width: 100%;
        }

        &.date-view {
          flex-flow: row nowrap;
          align-items: baseline;

          .label {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
