.form-settings {
  padding: @paddingForm;

  .input {
    height: @inputHeight;
    box-sizing: border-box;
  }

  .element {
    display: block;
    width: 200px;

    .input {
      width: 100%;
    }
  }

  .btn-open-modal {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #687ff6;
    font-size: @fontSizeSmaller;
    padding: 0;
  }

  .alert {
    margin-top: @marginSmall;
  }
}