html, body {
  font-family: @fontFamily;
  color: @fontColorMain;
  background-color: @bgColorMain;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: @lineHeight;

  h4,h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  #mainContent {
    .flex-container;

    flex-flow: column nowrap;
    flex: 1 0 auto;

    height: 100%;
    width: 100%;
  }

  #mainWrap {
    .flex-container;
    flex-flow: column nowrap;

    width: 100%;
    min-height: 100%;
    height: fit-content;
    flex: 1 0 auto;

    .app-layout {
      .flex-container;
      align-content: flex-start;
      width: 100%;
      flex: 1 0 auto;

      &.center {
        align-content: center;
      }

      .app-content {
        width: 75%;
        padding: 0 @paddingNormal;
        margin: auto;

        @media screen and (max-width: 1800px) {
          width: 85%;
        }

        @media screen and (max-width: 1650px) {
          width: 90%;
        }

        @media screen and (max-width: 1400px) {
          width: 95%;
        }

        @media screen and (max-width: 450px) {
          padding: 0;
        }
      }
    }
  }
}

html {
  min-width: @minScreenWidth;
}

body {
  .flex-container;
  flex-flow: column nowrap;
  min-height: max-content;
  min-height: -moz-max-content;
  justify-content: flex-start;
}

footer {
  box-sizing: border-box;
  margin-top: @marginBlock;
  flex: none;
  min-height: 40px;
  background-color: @fontColorMain;
  color: @fontColorSecondary;
  width: 100%;
  padding: @paddingNormal;

  .space-between {
    justify-content: space-between;
  }

  .row {
    padding: 2px 0;
  }

  .action-link {
    border-bottom: 1px dotted white;
  }

  a {
    color: @fontColorSecondary;
  }
}