.list-view {
  .flex-container;
  .flex-item;

  flex-grow: 1;
  flex-flow: column wrap;
  margin-left: @marginColumnRoot;
  padding: @paddingContainerNormal;
  height: min-content;
  height: -moz-min-content;

  color: @fontColorMain;

  h2 {
    margin-top: 0;
    margin-bottom: @marginBlock;
  }

  .vacancy, .resume, .callback {
    color: @fontColorMain;
    padding: @paddingContainerNormal;
    border-radius: @borderRadiusNormal;
    margin-bottom: @marginListRow;
    background-color: @bgWhite;
    .box-shadow(-1px, 2px, 10px, @boxShadowDefault);

    .row {
      align-items: baseline;

      a {
        text-decoration: none;
      }
    }

    .position-name {
      display: inline-block;
      text-align: left;
      font-size: @fontSizeMoreBigger;
      font-weight: 500;
      color: @brandBlue;
    }

    .title {
      .flex-container;
    }

    .paycheck {
      display: inline-block;
      text-align: right;
      margin-left: auto;
      font-weight: 600;
    }

    .city, .company, .date, .exp-size, .age {
      font-size: @fontSizeSmaller;
      font-weight: 500;
      color: @fontColorSecondary;
    }

    .company {
      text-align: left;
      display: inline-block;
    }

    .date {
      margin-right: auto;
    }

    .has-callback {
      display: inline-block;
      padding: @paddingSmall;
      margin: @paddingSmall 0;
      width: fit-content;
      width: -moz-fit-content;
      border-radius: @borderRadiusNormal;
    }

    .view-count {
      margin-top: @paddingSmall;
    }
  }

  .prev-exp {
    margin: @marginListItem 0;

    .position {
      margin-top: @marginListItem / 2;
      font-weight: 600;
    }

    .date {
      margin: 0;
    }
  }

  .callback, .vacancy, .resume {
    table {
      width: 100%;

      &.views {
        font-size: @fontSizeSmaller;
        margin-top: @marginListRow;

        td {
          text-align: left !important;
        }
      }
    }

    .new {
      color: @fontColorMain;
    }
  }

  .callback {
    table {
      td {
        padding: 0;
        text-align: left;
      }

      td:nth-child(2) {
        width: 35%;
      }

      td:last-child {
        text-align: right;
        width: 10%;
      }
    }

    .position-name {
      font-size: @fontSizeNormal;
    }

    .secondary {
      font-size: @fontSizeSmaller;
      color: @fontColorSecondary;
      margin-top: @marginSmall;

      .position-name {
        font-size: @fontSizeSmaller;
      }
    }

    .row {
      display: flex;

      .revoke {
        margin-left: auto;
      }
    }

    .date {
      margin-left: auto;
      margin-right: 0 !important;
    }
  }

  .vacancy, .resume, .callback {
    table {
      td {
        padding: @paddingSmall;
      }

      .col-date {
        width: 12%;
      }

      .col-message {
        width: 14%;
        min-width: 120px;
      }

      .col-action {
        width: 8%;
        min-width: 120px;
        text-align: right;
      }
    }
  }
}