.options-container {
  height: 100%;
  margin-bottom: @marginBlock;

  .tab-control {
    .flex-container;
    flex-wrap: nowrap;

    .tabs {
      .flex-item;
      .flex-container;
      flex-flow: column nowrap;
      justify-content: flex-start;

      min-width: max-content;
      min-width: -moz-max-content;
      padding: 0;

      .tab {
        .flex-item;

        width: 100%;
        flex-basis: @buttonHeight;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        border: none;
        border-radius: @borderRadiusNormal 0 0 @borderRadiusNormal;
        padding: @paddingSmall @paddingButtonNormal;
        background-color: lighten(@brandBlue, 28%);

        &.active {
          border: 1px solid @boxShadowDefault;
          border-right: none;
          background-color: @bgWhite;
          color: @fontColorMain;
          z-index: 100;
          box-shadow: none;
        }

        &:not(.active):hover {
          background-color: lighten(@brandBlue, 26%);
        }
      }
    }

    .tabs-content-container {
      padding: 0;

      background-color: @bgWhite;
      border: 1px solid @boxShadowDefault;
      border-radius: 0 @borderRadiusNormal @borderRadiusNormal 0;
      flex-grow: 1;
      margin-left: -1px;
    }

    .view-count {
      margin-top: @marginListRow;
    }
  }

  @media screen and (max-width: 1000px) {
    .tab-control {
      flex-flow: column nowrap;

      .tabs-content-container {
        margin-left: 0;
      }

      .tabs {
        flex-flow: row wrap;
        min-width: initial;
        margin-bottom: -1px;

        .tab {
          order: 0;

          border: 1px solid @fontColorSecondary !important;
          border-radius: 0;

          &.active {
            order: 1;
            border-bottom: none !important;

          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .tabs-content-container {
      .form-settings {

        .row {
          margin-bottom: @marginListItem !important;

          >.element {
            margin-bottom: 0;
          }
        }
      }

      .list-view {
        margin-left: 0;

        .position-name {
          width: 100%;
        }

        .paycheck {
          margin-left: initial;
        }

        .date {
          margin-right: initial;
          margin-top: @marginSmall;
          width: 100%;
        }

        .view-count {
          margin-top: @marginSmall;
        }

        .pagination {
          .previous, .next {
            width: 100%;
          }
        }

        .main-info {
          margin-bottom: @marginSmall * 2;

          .row {
            margin-bottom: @marginSmall * 2;
          }
        }
      }
    }
  }
}