.form-resume {

  .visibility {
    margin-left: auto;
    padding: 5px;
    font-size: @fontSizeSmaller;
    margin-bottom: @marginListItem;
  }

  .col.photo {
    flex: 2 1;
    margin-right: @marginBlock;
    margin-bottom: @paddingSmall;

    .element {
      display: block;
      width: initial;
    }
  }

  .element {
    margin-bottom: @marginListRow;
  }

  .tags {
    .text {
      font-size: @fontSizeNormal;
    }

    .label {
      width: 100%;
    }
  }

  .item-head {
    margin-bottom: @marginListRow;

    .element {
      flex-grow: 0;
      margin-bottom: 0;
    }

    .text-secondary {
      margin-top: 5px;
      margin-bottom: @marginListRow;
      color: @fontColorSecondary;
      font-size: @fontSizeSmaller;
      line-height: @lineHeight;

      .element {
        margin-bottom: @paddingSmall;
        margin-left: 0 !important;

        &:not(:last-child) {
          margin-right: @marginListRow;
        }
      }

      .fas {
        font-size: @fontSizeNormal;
      }
    }
  }

  .left {
    .flex-item;
    flex-basis: 150px;
    color: @fontColorSecondary;
    margin-bottom: 5px;
  }

  .right {
    .flex-item;
  }

  .cols {
    width: 100%;
    margin-top: @marginListRow;

    .element {
      margin-bottom: 0;
    }

    .row {
      margin-bottom: 5px;
    }
  }

  .collection {
    &.languages {
      .element {
        flex-flow: row wrap;
        flex-grow: 0;

        &.language {
          flex-basis: 100px;
          font-weight: 600;
        }
      }
    }

    &.contacts {
      .element {
        flex-flow: row nowrap;
        flex-grow: 0;

        &.type {
          flex-basis: 50px;
          color: @fontColorSecondary;
        }
      }
    }

    &.educations {
      .speciality {
        font-weight: 600;
      }
    }

    &.work-exp, &.educations {
      .collection-item {
        flex-grow: 1;

        .element {
          flex-grow: 1;
        }

        .date-range {
          width: 100%;
          margin-bottom: @marginListRow;

        }
      }

      .position {
        font-weight: 600;
        margin-bottom: @marginListRow / 2;
      }

      .date {
        flex-flow: row wrap;
        flex-grow: 0;
      }

      .dash {
        margin: 0 10px;
      }

      .text-secondary {
        color: @fontColorSecondary;
        margin-top: 5px;
        display: block;
        width: 100%;
      }
    }
  }

  .form-block.collection-container {
      padding: @paddingForm / 2 0;

    .collection >.label {
      .form-padding-horizontal;
    }

    >.label {
      padding: 0  @paddingForm;
    }

    .fieldset {
      .form-padding-horizontal;

      .element {
        margin-bottom: @marginListRow;

        &.col {
          width: 100%;
        }

        &.date-view {
          flex-flow: row nowrap;
          align-items: baseline;

          .label {
            margin-right: 5px;
          }
        }
      }
    }
  }
}