.form-vacancy {
  .visibility {
    padding: 5px;
    font-size: @fontSizeSmaller;
    margin-left: auto;
  }

  .item-head {
    margin-bottom: @marginListRow;

    .element {
      margin-bottom: 0;
      margin-left: 0 !important;

      &:not(:last-child) {
        margin-right: @marginListRow;
      }
    }

    .text-secondary .fas {
      font-size: @fontSizeNormal;
    }
  }

  .text-secondary {
    margin-top: 5px;
    color: @fontColorSecondary;
    font-size: @fontSizeSmaller;
    line-height: @lineHeight;

    .element {
      flex-grow: 0;
    }
  }

  .left {
    .flex-item;
    flex-basis: 150px;
    color: @fontColorSecondary;
  }

  .right {
    .flex-item;
  }

  .cols {
    width: 100%;
    margin-top: @marginListRow;

    .element {
      margin-bottom: 0;
    }

    .row {
      margin-bottom: 5px;
    }
  }

  .details {
    .row:not(:last-child) {
      margin-bottom: @marginBlock;
    }
  }
}