<?php

use Application\View\ViewInterface;

/**
 * @var ViewInterface $this
 *
 * @var string        $content
 */

?>

<?= $this->doctype() ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('Staffz')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?= $this->headLink([
        'rel'  => 'shortcut icon',
        'type' => 'image/vnd.microsoft.icon',
        'href' => $this->basePath() . '/img/favicon.ico'
    ]) ?>

    <?= $this->headScript()
            ->prependFile('/js/admin/index.js')
    ?>

</head>
<body>
<div id='contentMain' class="container">
    
</div>
</body>
</html>
