<?php
/**
 * @var Application\View\ViewInterface $this
 */


$identity = $this->identity();
$translator = $this->translator();

?>

<nav class="navbar navbar-main navbar-static-top flex-container" role="navigation">
    <div class="flex-container nav-content">
        <a href="/" class="flex-container column flex-item logo">
            <span class="flex-item">staffz</span>
        </a>

        <form class="form-inline search-form flex-item">
            <input type="search" placeholder="Поиск">
        </form>
        <ul class="flex-item flex-container menu">
            <li class="flex-item flex-container dropdown job">
                <div class="dropdown-caption"><?= $translator->translate('job') ?></div>
                <ul class="dropdown-content">
                    <li><a href="<?= $this->url()->frontend('resume', 'index') ?>"><nobr><?= $translator->translate('find_resumes') ?></nobr></a></li>
                    <li><a href="<?= $this->url()->frontend('vacancy', 'index') ?>"><nobr><?= $translator->translate('find_vacancies') ?></nobr></a></li>
                </ul>
            </li>

            <li class="flex-item flex-container freelance">
                <span class="dropdown-caption"><?= $translator->translate('freelance') ?></span>
            </li>

            <li class="flex-item flex-container dropdown profile">
                <?php if ($identity->isGuest()) : ?>
                    <div class="dropdown-caption"><?= $translator->translate('profile') ?></div>
                    <ul class="dropdown-content">
                        <li><a href="<?= $this->url()->frontend('auth', 'index') ?>"><?= $translator->translate('sign_in') ?></a></li>
                        <li><a href="<?= $this->url()->frontend('auth', 'register') ?>"><span><?= $translator->translate('register') ?></span></a></li>
                    </ul>
                <?php else : ?>
                    <div class="dropdown-caption"><?= $identity->getUserName() ?></div>
                    <ul class="dropdown-content">
                        <?php if ($identity->isAdmin()) : ?>
                            <li><a href="<?= $this->url()->admin('index', 'index') ?>"><?= $translator->translate('admin_panel') ?></a></li>
                        <?php endif; ?>
                        <li><a href="<?= $this->url()->frontend('auth', 'logout') ?>"><?= $translator->translate('logout') ?></a></li>
                    </ul>
                <?php endif; ?>
            </li>
        </ul>
    </div>
</nav>
