.action-link-container {
  .action-link {
    color: @brandBlue;
    padding: 0;
    border-bottom: 1px dashed @brandBlue;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;

    &.danger {
      color: @colorDanger;
      border-bottom-color: @colorDanger;
    }

    &.warning {
      color: @colorWarning;
      border-bottom-color: @colorWarning;
    }
  }
  .confirmation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .confirm-label {
      flex-grow: 1;
    }

    .confirmation-yes {
      margin-right: @marginSmall;
      color: @colorWarning;
    }
  }
}