.checkbox() {
  display: flex;
  border: 2px solid @brandBlue;
  -webkit-border-radius: @borderRadiusNormal;
  -moz-border-radius: @borderRadiusNormal;
  border-radius: @borderRadiusNormal;
  font-size: @fontSizeSmaller;
  color: @brandBlue;
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25);/* Safari and Chrome */
  transform: scale(1.25);
  align-content: center;
  justify-content: center;
  margin-right: @paddingSmall * 2;
  margin-left: 0;
  box-sizing: border-box;

  .square {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: @borderRadiusNormal - 1;
    -moz-border-radius: @borderRadiusNormal - 1;
    box-sizing: border-box;
    border: 1px solid @bgWhite;
    background: @brandBlue;
    align-self: baseline;
  }

  &.has-checked .square {
    display: block;
  }

  &.checked {
    padding-top: 1px;
  }
}

.auth-form, .filter {
  .checkbox {
    -ms-transform: scale(1) !important; /* IE */
    -moz-transform: scale(1) !important; /* FF */
    -webkit-transform: scale(1) !important; /* Safari and Chrome */
    transform: scale(1) !important;
    width: 18px;
    height: 18px;
  }
}

.checkbox-label {
  .flex-container;
  flex-flow: row nowrap;
  user-select: none;
  -moz-user-select: none;
  align-items: flex-start;
  margin: (@marginListRow / 2) 0;
  font-size: @fontSizeNestedParam;
  cursor: pointer;

  .checkbox {
    .checkbox();
    border: 1px solid @fontColorMain;
    background-color: white;
    color: @fontColorMain;

    &.checked {
      padding-top: 2px;
    }
  }
}