.create-entity-container {
  background-color: @bgWhite;
  color: @fontColorMain;
  border-radius: @borderRadiusNormal;
  box-sizing: border-box;
  width: 100%;
  .box-shadow(-5px, 5px, 20px, @boxShadowDefault);

  .bg-image {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    border-radius: @borderRadiusNormal;
    margin-right: 0;
    padding: @paddingBigger;



    a.create-entity {
      .btn();
      text-align: center;
      height: max-content;
      display: block;
      text-decoration: none;
    }

    &.vacancy {
      background: url("/img/triangle_color.svg") no-repeat, @bgWhite,;
      background-position-y: 100%;
      background-size: 60%;
      background-clip: border-box;
      height: 240px;

      .create-entity {
        background-color: @bgWhite;
        color: @fontColorMain;
      }
    }

    &.resume {
      background: url("/img/BoxGradient.svg") no-repeat, @bgWhite;
      background-position-y: 100%;
      background-size: 60%;
      background-clip: border-box;
      height: 240px;
    }
  }
}