.form-geolocate {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto @marginBlock auto;
  background-color: @bgWhite;
  border-radius: @borderRadiusNormal;

  .box-shadow(-5px, 5px, 20px, @boxShadowDefault);

  form {
    display: flex;
    flex-flow: row nowrap;
    padding: @paddingButtonNormal;
    max-width: initial;
    width: initial;
    justify-content: center;

    .row {
      width: initial;

      .element {
        flex-flow: row nowrap;
        margin: 0;
        align-items: center;

        .label {
          font-weight: 600;
          color: @brandBlue;
          width: 110px;
          margin-right: @marginColumnRoot;
          break-inside: avoid;
        }
      }
    }

    button[type=submit] {
      .primary;
      width: min-content;
      width: -moz-min-content;
      cursor: pointer;
      outline: none;
      padding: 8px 10px;
      box-sizing: border-box;
      margin-left: 10px;
      border-radius: 3px;
      border: none;

      .box-shadow(-1px, 1px, 4px, @boxShadowDefault);
      .transition(box-shadow, 0.1s, linear);

      &:hover {
        .box-shadow(-2px, 3px, 10px, @boxShadowActive);
      }
    }

    @media screen and (max-width: 450px) {
      box-sizing: border-box;
      width: @recommendationListWidth !important;

      .row {
        width: 100%;
      }

      .element {
        width: initial;
        min-width: 200px;
      }

      .label {
        width: max-content;
        flex: 0;
        min-width: 80px;
      }

      .suggest-input {
        flex: 1;
        min-width: 80px;
      }
    }
  }
}