.form {
  .flex-container;

  .form-size();
  margin-bottom: 0;

  .element {
    margin-bottom: @marginListRow;

    .description {
      font-size: @fontSizeSmaller;
      margin-top: @paddingSmall;
    }
  }

  .inline {
    height: @inputHeight;
    box-sizing: border-box;

    .border();

    .element, input, select {
      border: none;
      height: 100%;
    }

    .element {
      margin-bottom: 0;

      &:first-child {
        flex-grow: 0;
      }
    }

    .select {
      min-width: initial;
      max-width: initial;
      width: 100px;
    }
  }

  .inline, .element {
    width: max-content;
    width: -moz-max-content;
    flex-grow: 1;

    >.element {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  .element:not(:first-child) {
    margin-left: @marginBlock;
  }

  .select {
    min-width: max-content;
    flex: 0 0 100%;
  }

  .input {
    font-size: @fontSizeNormal;
    height: @inputHeight;
    padding: @inputPadding;
    box-sizing: border-box;
    width: 100%;
  }

  .row {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-flow: wrap row;
    width: 100%;
  }

  .col {
    .flex-container;
    .flex-item;

    display: flex;
    flex-direction: column;
    flex-grow: 8;
    width: min-content;
    width: -moz-min-content;
  }

  .suggest-input {
    background-color: transparent;
  }

  .date-input-container {
    .flex-container;
    flex-direction: column;
  }

  .form-block {
    .flex-container;

    width: 100%;
    background-color: @bgWhite;
    border-radius: @borderRadiusNormal;
    margin-bottom: @marginBlock / 2;
    padding: @paddingForm @paddingForm @paddingForm / 2  @paddingForm;
    .box-shadow(-5px, 5px, 20px, @boxShadowDefault);

    &:not(:first-child) {
      padding: @paddingForm / 2 @paddingForm;
    }
  }

  .collection {
    .flex-container;
    flex-flow: nowrap column;
    margin-right: 0;

    &.contacts {
      .element {
        flex-flow: column nowrap !important;
        height: 100px;
      }
    }

    .collection-item {
      &:not(:last-child) {
        margin-bottom: @marginListRow;
      }

      hr {
        border: none;
        border-bottom: 1px solid @fontColorSecondary;
      }
    }

    .element {
      margin-left: 0;
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      border-radius: @borderRadiusNormal;

      .transition(box-shadow, 0.1s, linear);

      &:hover {
        .box-shadow(-1px, 1px, 4px, @boxShadowDefault);
      }
    }

    .fieldset {
      .flex-container;
      flex-flow: column nowrap;

      .fields {
        .flex-item;
        flex-flow: wrap row;
        flex: 1 1;
      }

      .delete-fieldset {
        .flex-item;
        width: initial;
        align-self: flex-end;
        font-family: @fontFamily;
        color: @colorDanger;
        font-size: @fontSizeNormal;
        height: 25px;
        margin-bottom: @marginSimpleListRow;
      }
    }

    .add-fieldset {
      background-color: transparent;
      cursor: pointer;
      height: 40px;
      font-family: @fontFamily;
      color: @brandBlue;
      font-size: @fontSizeNormal;
      border: 1px solid @boxShadowDefault;
      outline: none;
    }
  }

  .form-block, .collection {
    box-sizing: border-box;

    >.label {
      font-size: @fontSizeMoreBigger;
      margin-bottom: @marginListRow;
    }
  }

  .form-pre-head {
    justify-content: space-between;
    align-items: baseline;
  }

  .row {
    .view-count {
      margin-left: auto;
    }
  }

  .form-block {
    div, ul, p {
      word-break: break-word;
    }
  }
}

.btn.edit {
  .btn();
  .flex-container;

  justify-content: center;
  align-items: center;
  padding: @paddingButtonNormal @paddingForm;
  background-color: @bgWhite;
  color: @fontColorMain;
  height: @buttonHeight;
  font-size: @fontSizeBigger;
  text-decoration: none;
}

.form-buttons {
  .form-size();

  * {
    font-size: @fontSizeBigger;
  }

  button {
    .btn();
    min-height: @buttonHeightPrimary;
  }

  button[name=submit], .submit {
    width: @buttonWidth * 2;
    background-color: @brandBlue;
    color: white;

    &:hover {
      background-color: lighten(@brandBlue, 3%);
    }

    &:active {
      background-color: darken(@brandBlue, 3%);
    }
  }

  button.btn-open-modal {
    width: max-content;
    width: -moz-max-content;
    background-color: @colorPositiveAction;
    color: @bgWhite;

    &:active {
      background-color: darken(@colorPositiveAction, 3%);
    }
  }
}

.modal-content {
  .form {
    margin: 0;
    padding: @paddingForm;
    width: initial;
  }

  .form-buttons {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.has-callback {
  padding: @paddingSmall;
  border-radius: @borderRadiusNormal;
}

.app-content {
  @media screen and (max-width: 1250px) {
    form.form {
      width: 80%;
    }

    .row.form-buttons {
      width: 80%;
    }
  }

  @media screen and (max-width: 810px) {
    form.form {
      width: 95%;

      .label {
        line-height: 1.5;
      }

      .item-head {
        .element {
          width: 100% !important;
        }
      }

      .col.photo {
        flex-flow: row nowrap;
      }

      .cols {
        .element {
          width: fit-content;
          width: -moz-fit-content;
          min-width: 250px;
        }

        .row {
          width: min-content;
          margin-bottom: @marginSmall * 2.5;
        }
      }

      .form-block {
        padding: 20px !important;

        &.collection-container {
          padding: 20px 0 !important;

          >.label {
            padding: 0 20px !important;
          }
        }
      }

      .tags {
        width: 100%;
      }

      .form-padding-horizontal {
        padding: 0 20px !important;
      }

      .collection {
        .fieldset {
          padding: 0 20px !important;
        }

        &.educations > .label, >.label {
          padding: 0 20px !important;
        }
      }

      .visibility {
        margin: @paddingSmall 0;
      }
    }

    .row.form-buttons {
      width: 95%;
      display: flex;
      justify-content: flex-start;

      >* {
        width: 100% !important;
      }

      button {
        padding: 0 20px !important;
        width: 100% !important;
      }
    }

    .add-fieldset {
      margin: 0 20px !important;
    }

    .checkbox-label {
      .checkbox {
        transform: scale(1.25) !important;
      }
    }
  }
}

.form-resume, .form-vacancy {
  &.view {
    @media screen and (max-width: 580px) {
      .form-pre-head {
        margin-bottom: @paddingSmall;

        .btn.edit {
          width: 100%;
        }
      }
    }
  }

  &.edit {
    @media screen and (max-width: 1525px) {
      .main-info {
        .element {
          flex-basis: 200px;
        }
      }
    }

    @media screen and (max-width: 1300px) {
      .main-info {
        .element {
          flex-basis: initial;
          width: 100%;
        }
      }

      .element {
        margin-left: 0;
        margin-right: 0 !important;
        flex-basis: initial;
        width: 100%;

        .inline {
          width: 100%;

          .element {
            width: initial;
          }

          select {
            width: min-content;
            width: -moz-min-content;
            min-width: initial;

            max-width: 120px;
          }

          input {
            min-width: min-content;
            min-width: -moz-min-content;
          }
        }
      }

      .element-secondary  {
        margin-left: 0 !important;
      }

      .paycheck {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
      }

      .form-buttons {
        width: 100%;
      }
    }

    @media screen and (max-width: 1080px) {
      width: 520px;
    }

    @media screen and (max-width: 360px) {
      width: 100%;

      .select {
        min-width: min-content;
        min-width: -moz-min-content;
      }
    }
  }
}