.preview-container {
  font-size: @fontSizeMoreBigger * 2;
  color: @bgWhite;
  background-color: lighten(@boxShadowDefault, 2%);
  cursor: pointer;

  .transition(box-shadow, 0.1s, linear);

  &:hover {
    .box-shadow(-1px, 1px, 5px, @boxShadowDefault)
  }

  &:active {
    .box-shadow(-1px, 1px, 5px, @boxShadowActive)
  }

}

.remove-image {
  font-family: @fontFamily;
  font-size: @fontSizeNestedParam;

  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: @paddingSmall;

  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  height: @inputHeight;
  width: 100%;

  .transition(box-shadow, 0.1s, linear);

  &:hover:not(:disabled) {
    .box-shadow(-1px, 1px, 5px, @boxShadowDefault)
  }

  &:active {
    .box-shadow(-1px, 1px, 5px, @boxShadowActive)
  }

  &:disabled {
    opacity: 0.5;
  }
}

