.input-range {
  padding-top: 30px;

  .input-range__track--background {
    background-color: darken(@bgLightGrayBlue, 10%);
  }

  .input-range__track--active, .input-range__slider {
    background-color: @brandBlue;
  }

  .input-range__slider {
    border: none;
  }

  .input-range__slider-container {
    transition: left 100ms ease-out;
  }

  .input-range__track {
    transition: left 100ms ease-out, width 100ms ease-out;
  }
}