.input() {
  .border();

  background-color: white;
  outline: none;
  border-radius: @borderRadiusNormal;
  color: @fontColorMain;
  padding: @inputPaddingV @inputPaddingH;

  .box-shadow(-1px, 1px, 4px, @boxShadowDefault);
  .transition(box-shadow, 0.1s, linear);

  &:hover {
    outline: none;

    .box-shadow(-2px, 3px, 10px, @boxShadowActive);
  }
}

::placeholder {
  color: @fontColorSecondary;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: @fontColorSecondary;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: @fontColorSecondary;
}

.input-with-button {
  .flex-container;
  .input();
  flex-wrap: nowrap;
  height: @inputHeight;
  padding: 0;
  overflow-x: hidden;
  background-color: @bgWhite;

  input {
    .flex-item;
    flex: 1 1 auto;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: @borderRadiusNormal;
    margin: 0;
    padding: @inputPadding;
    background-color: @bgWhite;
    font-size: @fontSizeNormal;
    color: @fontColorMain;

    &.no-caret {
      color: transparent;
      text-shadow: 0 0 0 @fontColorMain;
    }
  }

  .btn-remove-container {
    .flex-item;
    flex: 0 0 @inputClearIconContainer;
    .flex-container;
    border-radius: 0 3px 3px 0;
    padding: 0 @inputPaddingH 0 0;
    margin: 0;
    background-color: transparent;
    cursor: text;

    .icon-remove {
      justify-self: center;
      align-self: center;
      color: darken(@bgWhiteGray, 10%);
      cursor: pointer;

      transform: translateX(0);

      .transition(transform, 0.2s, ease-in);

      &.hidden {
        display: inline-block;
        transform: translateX(35px);
        .transition(transform, 0.2s, ease-out);
      }

      &:hover {
        color: darken(@bgWhiteGray, 20%);
      }
    }
  }

  &.has-clear-btn {
    .suggest-input {
      margin-right: 0;
      border-radius: @borderRadiusNormal 0 0 @borderRadiusNormal;
    }
  }

  &.has-focus {
    outline: none;

    .box-shadow(-2px, 3px, 10px, @boxShadowActive);
  }
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}