.item-holder {
  .flex-container;
  .scrollBar();
  width: 100%;
  cursor: pointer;
  margin-bottom: @paddingSmall * 2;
  max-height: @itemHolderHeight;
  overflow-y: auto;

  .item {
    .flex-item;
    margin: 0  @paddingSmall @paddingSmall 0 ;
    border: none;
    border-radius: 3px;
    background-color: @brandBlue;
    color: @bgWhiteGray;
    padding: @paddingSmall;
    height: @filterItemBaseHeight;

    .item-content {
      .flex-container;
      align-items: center;
      flex-wrap: nowrap;
    }

    .text,.icon-remove {
      .flex-item;
      width: min-content;
      width: -moz-min-content;
    }

    .text {
      font-size: @fontSizeSmaller;
      height: @filterItemBaseHeight;
      margin-right: @paddingSmall;
    }

    .icon-remove {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}