.landing {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-flow: row wrap;

  .col {
    width: @recommendationListWidth;
    margin-right: @marginColumnRoot;
  }

  .list-view {
    margin-left: 0;
    margin-top: @marginListItem;
    padding: @paddingBigger;

    .box-shadow(-5px, 5px, 20px, @boxShadowDefault);
  }
}