.list-view {
  color: @fontColorSecondary;
  background-color: @bgWhite;
  border-radius: @borderRadiusNormal;

  .scroll-container {
    width: 100%;
    max-height: 150px;

    table {
      font-size: @fontSizeNormal;
      text-align: left;
      vertical-align: center;

      th, td {
        padding: 5px 0;
      }

      td.position-name {
        font-weight: 600;
        font-size: @fontSizeNormal;
      }

      thead th {
        font-weight: 100;
        color: @fontColorSecondary;

        &.col-spacing {
          width: 5%;
        }
      }
    }
  }

  .infinite-scroll-component {
    overflow: initial !important;
  }

  .spoiler {
    margin-top: @marginListRow;
    display: inline-block;
  }

  .spoiler-label {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    color: @brandBlue;

    .transition(text-shadow, 150ms, linear);

    &:hover {
        text-shadow: -1px 2px 3px lighten(@fontColorSecondary, 7%);
    }

  }

  .callback-row {
    padding: 5px 0;
  }
}

.list {
  margin-bottom: @marginBlock;

  @media screen and (max-width: 810px) {
    &.list-resume, &.list-vacancy {
      flex-flow: column nowrap;

      .list-view {
        margin-left: 0;
        width: initial;
      }
    }

    #filtersContainer {
      max-width: initial;
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    &.list-resume, &.list-vacancy, &.list-callback {
      .list-view {
        .vacancy, .resume {
          .row:first-child {
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;

            .paycheck {
              margin-left: 0;
              margin-bottom: @paddingSmall;
            }
          }
        }

        .pagination {
          .previous, .next {
            width: 100%;
          }
        }
      }
    }
  }
}

.landing {
  @media screen and (max-width: 600px) {
    .col {
      margin-right: 0 !important;
    }
  }
}