.messages {
  .btn-open-modal {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: @brandBlue;
    font-size: @fontSizeNormal;

    .transition(text-shadow, 150ms, linear);

    &:hover {
      text-shadow: -1px 2px 3px lighten(@fontColorSecondary, 7%);
    }
  }
}

.messenger {
  padding: @paddingForm / 2 @paddingForm;

  .form {
    padding: 0 0 0 @marginSmall;
    margin-top: @marginBlock;

    .textarea {
      resize: vertical;
    }
  }

  .message-container {
    .flex-container;
    flex-flow: column-reverse nowrap;
    justify-items: flex-start;
    align-content: flex-start;
    width: 100%;
    overflow-y: scroll;
    max-height: 250px;
    padding: 0 @marginSmall @marginSmall @marginSmall;
    box-sizing: border-box;
    .scrollBar();

    .message {
      display: block;
      border: 1px solid lighten(@fontColorSecondary, 5%);
      padding: @paddingTextContainer;
      border-radius: @borderRadiusNormal;

      .box-shadow(-1px, 1px, 4px, @boxShadowDefault);


      &:not(:last-child) {
        margin-bottom: @marginListItem;
      }

      &.in {
        align-self: flex-start;
      }

      &.out {
        align-self: flex-end;
        background-color: @bgPositive;
        border-color: @colorPositiveSecondaryText;

        .box-shadow(-1px, 1px, 4px, @colorPositiveSecondaryText);

        .date {
          color: @colorPositiveSecondaryText
        }
      }

      .text {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
      }

      .date {
        margin-top: @marginSmall;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
      }
    }
  }
}