.modal-visible .modal-inner {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition: opacity 0.2s, transform 0.2s;
  -moz-transition:  opacity 0.2s, transform 0.2s;
  -ms-transition:  opacity 0.2s, transform 0.2s;
  -o-transition: opacity 0.2s, transform 0.2s;
}

.modal-container-main.modal-visible .modal {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition:  opacity 0.2s;
  -ms-transition:  opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.modal-container-main .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  color: @fontColorMain;
}

.modal-container-main .modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s 0.2s;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  -moz-transition:  opacity 0.2s, visibility 0s 0.2s;
  -ms-transition:  opacity 0.2s, visibility 0s 0.2s;
  -o-transition: opacity 0.2s, visibility 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.modal-hider {
  display: none;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: @bgWhite;
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, visibility 0s 0.2s;
  -webkit-transition: opacity 0.2s, transform 0.2s, visibility 0s 0.2s;
  -moz-transition:  opacity 0.2s, transform 0.2s, visibility 0s 0.2s;
  -ms-transition:  opacity 0.2s, transform 0.2s, visibility 0s 0.2s;
  -o-transition: opacity 0.2s, transform 0.2s, visibility 0s 0.2s;
}

.modal-content {
  width: 500px;
}

.callback .modal-inner {
  max-width: 600px !important;
  min-width: 480px !important;

  @media screen and (max-width: 1300px) {
    min-width: 300px !important;
  }
}

h2 {
  margin-top: 0;
  font-size: @fontSizeBigger;
}

.modal {
  .form-error {
    margin-bottom: @marginSmall;
  }

  .has-error {
    border-radius: @borderRadiusNormal;
  }

  .field-error {
    box-sizing: border-box;
    display: inline-block;
  }

  .suggest-data-container {
    z-index: 2000;
  }

  @media screen and (max-width: 1300px) {
    .form-buttons {
      flex-flow: column;
      margin: 0 !important;
      width: 100% !important;

      button {
        width: 100% !important;
        margin: 0 !important;

        &:not(:last-child) {
          margin-bottom: @marginSmall !important;
        }
      }
    }

    .form {
      width:100% !important;
      padding: @paddingContainerNormal;
      box-sizing: border-box;

      .element {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .modal-content {
      width: initial;
    }
  }
}