.navbar-main {
  flex: 1;
  background-color: @navbarColor;
  margin: 0 0 @marginBlock;
  min-height: max-content;
  min-height: -moz-max-content;
  z-index: 100;

  a {
    text-decoration: none;
    color: @brandBlue;
  }

  &.flex-container {
    justify-content: center;
    align-items: center;
  }

  .nav-content.flex-container {
    align-items: center;
    flex-wrap: nowrap;
  }

  .logo.flex-container {
    width: 10%;
    font-size: @fontSizeLarge;

    text-align: center;
    justify-content: center;

    span {
      width: 100%;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .search-form {
    height: @navBarHeight;
    flex: 2;
    align-self: center;
    padding: 0;

    .inline {
      .flex-container;
      flex-flow: row nowrap;
      height: @searchInputHeight;
      min-width: 250px;

      .element {
        border-radius: @borderRadiusNavbar;

        &.nav-input {
          min-width: 120px;
          flex: 3 2;
          border-radius: @borderRadiusNormal 0 0 @borderRadiusNormal;
        }

        &.nav-select {
          min-width: max-content;
          min-width: -moz-max-content;
          border-left: 1px solid lighten(@fontColorSecondary, 20%);
          flex: 1.5;
          border-radius: 0;
        }

        &.nav-submit {
          height: 100%;
          flex: 1;

          button {
            cursor: pointer;
            width: 100%;
            height: 100%;
            background-color: @brandBlue;
            color: @bgWhite;
            font-size: @fontSizeBigger;
            outline: 0;
            border-radius: 0 @borderRadiusNavbar @borderRadiusNavbar 0;
            border: none;

            &:hover {
              background-color: lighten(@brandBlue, 3%);
            }
          }
        }

        input {
          .input();
          min-width: 100px;
          border: none;
          font-size: @fontSizeBigger;
        }

        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px white inset !important;
        }

        select {
          border: none;
          min-width: max-content;
          min-width: -moz-max-content;
          width: 100%;
          margin-right: 5px;
        }
      }
    }
  }

  ul.menu {
    list-style: none;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;

    li.flex-container  {
      cursor: pointer;
      color: @brandBlue;
      height: 100%;
      width: max-content;
      width: -moz-max-content;
      font-size: @fontSizeMoreBigger;
      margin-left: 0;
      align-items: center;

      .dropdown-caption {
        display: flex;
        align-items: center;
        padding: 0 @paddingNormal;
        height: 100%;
        width: max-content;
      }

      ul.dropdown-content {
        display: none;
        background-color: @bgWhite;
        list-style: none;
        padding: 0;
        .box-shadow(-1px, 2px, 4px, @boxShadowDefault);

        li {
          text-shadow: none;
          padding: @paddingSmall @paddingNormal;

          a {
            display: block;
            height: 100%;
            width: 100%;
          }

          &:not(:first-child) {
            border-top: 1px solid @boxShadowDefault;
          }
        }
      }

      &.profile {
        margin-right: 0;
        margin-left: auto;
        justify-self: end;

        .dropdown-content {
          right: 0;
        }
      }

      li:hover {
        background-color: @bgWhiteGray;
      }

      &:hover {
        color: lighten(@brandBlue, 5%);
        text-shadow: -1px 2px 5px @boxShadowDefault;
        //.transition(all, 0.1s, linear);
        background-color: @bgWhiteGray;

        ul.dropdown-content {
          display: block;
        }
      }
    }
  }
}


//@normal screen size
.navbar-main {
  height: fit-content;
  .nav-content.flex-container {
    height: 100%;
    width: 75%;

    .logo.flex-container {
      flex-basis: 150px;
      margin-left: 0;
      text-align: left;
      padding: 0 @paddingNormal;

      span {
        margin: 0;
      }
    }

    .flex-item {
      height: @navBarHeight;
      text-align: left;
    }

    ul.flex-container {
      margin-left: 0;
      margin-right: 0;
    }

    .search-form, .flex-container {
      margin-right: 50px;
      margin-left: 0;
    }

    .search-form {
      padding: 0 @paddingNormal;
    }
  }
}

@media screen and (max-width: 1800px) {
  .navbar-main {
    .nav-content.flex-container {
      width: 85%;
    }
  }
}

@media screen and (max-width: 1650px) {
  .navbar-main {
    .nav-content.flex-container {
      width: 90%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar-main {
    .nav-content.flex-container {
      flex-wrap: wrap;
      width: 95%;

      .search-form {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar-main {
    .nav-content.flex-container {
      .search-form {
        margin-right: 0;
      }

      .menu li.dropdown:not(.profile) {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar-main {
    .nav-content.flex-container {
      .search-form {
        .inline {

          .nav-input {
            min-width: 80px;
            width: 80px;
            input {
              width: 80px;
            }
          }
        }
      }
    }
  }
}
