.alert {
  padding: @paddingButtonNormal;
  border-radius: @borderRadiusNormal;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  &.alert-warning {
    color: @colorWarning;
    background: @bgWarning;
    border: 1px solid @borderColorWarning;
  }

  &.alert-success {
    color: @colorPositiveText;
    background: @bgPositive;
    border: 1px solid @colorPositiveSecondaryText;
  }
}

.notification {
  margin-bottom: @marginSmall;
}