.radio-group {
  &.col {
    margin-bottom: @marginListRow;
  }

  .radio {
    &:not(:last-child) {
      margin-bottom: @marginSmall * 2;
    }

    input {
      -ms-transform: scale(1.25); /* IE */
      -moz-transform: scale(1.25); /* FF */
      -webkit-transform: scale(1.25);/* Safari and Chrome */
      transform: scale(1.25);
    }
  }
}