.select {
  .input();

  cursor: pointer;
  outline: none;
  width: 100%;
  height: 30px;
  font-size: @fontSizeNormal;
  background-color: white;

}

@-moz-document url-prefix() {
  .select {
    padding: 0 3px;
    padding-top: initial;
    padding-bottom: initial;
  }
}

select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance: none;
  content:"\f078";
}

.select-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.select-wrap::after {
  content:"\f0d7";
  font-family: "Font Awesome 5 Free";
  color: @fontColorMain;
  z-index: 1;
  width: 0;
  pointer-events: none;
  box-sizing: border-box;
  margin-left: -20px;
  margin-right: 20px;
}

.creatable-select-wrap {
  .select-wrap;

  .createable-select {
    .input();
    height: @inputHeight;
    box-sizing: border-box;
    padding: 0;

    >div {
      height: 100%;
    }

    * {
      border: none !important;
      outline: none !important;
      font-family: @fontFamily;
    }

    .creatable-select__control--is-focused {
      border: 1px solid @fontColorSecondary;
      box-shadow: none;
      border-radius: @borderRadiusNormal;
    }

    .creatable-select__control {
      padding: @inputPaddingV @inputPaddingH;
      font-size: @fontSizeNormal;
      min-height: initial;
      height: 100%;

      .creatable-select__value-container {
        padding: 0;
        width: max-content;
        width: -moz-max-content;
        min-width: 140px;
        height: 100%;

        * {
          color: @fontColorMain;
        }
      }

      .creatable-select__placeholder {
        color: @fontColorSecondary;
      }
    }
  }
}