#filtersContainer {
 .flex-item;

 flex-basis: @filterBasis;
 max-width: @filterBasis;
 margin: 0;

  .filter {
    line-height: @lineHeightFilter;
    margin-bottom: @marginListRow;

    ul {
      padding: 0;
    }

    &.isRemote, &.isRelocateReady {
      .label {
        font-size: @fontSizeNormal;
      }
    }

    .input-with-button {
      margin-top: @paddingSmall / 2;
    }

    .checkbox-label {
      margin: 0;

      align-items: center;

      .label {
        color: @fontColorMain;
      }
    }

    .keywords {
      margin-bottom: @marginListRow / 2;
    }
  }
}