.simple-list-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  .position_name {
    font-weight: 600;
    color: @brandBlue;
    text-decoration: none;
  }

  .company {
    font-size: @fontSizeSmaller;
  }

  .paycheck {
    color: @fontColorSecondary;
    font-size: @fontSizeSmaller;
    margin-top: 2px;
  }

  &:not(:last-child) {
    margin-bottom: @marginSimpleListRow;
  }
}