.filter, .suggest-input {
  .dropdown;
  background-color: @bgColorMain;
  width: 100%;

  .suggest-data-container {
    .dropdown-content;
    width: @filterBasis;
    cursor: pointer;
    display: block;
    margin-top: @paddingSmall;
    background-color: @bgWhite;
    user-select: none;
    z-index: 100;

    .suggestion {
      padding: @paddingSmall;
      border-bottom: 1px solid lightgray;

      .title, .description {
        .flex-container;
        flex-wrap: nowrap;
      }

      .description {
        flex-wrap: wrap;
        font-size: @fontSizeSmall;
        color: @fontColorSecondary;
      }
    }

    >:hover {
      background-color: @bgLightGrayBlue;
    }

    .box-shadow(-2px, 3px, 8px, @boxShadowActive);
  }
}