.tab-control {
  display: block;

  .tabs {
    .flex-container;
    align-content: center;
    justify-content: center;
    list-style: none;
    margin-bottom: @marginBlock;

    .tab {
      min-width: max-content;
      width: 150px;
      border: 1px solid @fontColorMain;
      padding: @paddingSmall;
      box-sizing: border-box;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      user-select: none;

      &:first-child {
        border-radius: @borderRadiusNormal 0 0 @borderRadiusNormal;
      }

      &:last-child {
        border-radius: 0 @borderRadiusNormal @borderRadiusNormal 0;
      }

      &:not(:last-child) {
        border-right: none;
      }

      &.active {
        color: @bgWhite;
        background-color: lighten(@brandBlue, 3%);
        .box-shadow(0, 0, 20px, lightgray);
      }

      &:not(.active):hover {
        background-color: lighten(@brandBlue, 28%);
      }

    }
  }

  .tabs-content-container {
    .flex-container;
    flex-flow: column nowrap;

    .tab-content {

    }
  }
}