.textarea {
  .border();

  background-color: white;
  outline: none;
  border-radius: @borderRadiusNormal;
  color: @fontColorMain;
  font-size: @fontSizeNormal;
  font-family: @fontFamily;
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;

  &.vertical {
    resize: vertical;
  }

  .box-shadow(-1px, 1px, 4px, @boxShadowDefault);
  .transition(box-shadow, 0.1s, linear);

  &:hover {
    outline: none;

    .box-shadow(-2px, 3px, 10px, @boxShadowActive);
  }
}

.edit {
  .tox.tox-tinymce {
    .textarea;
  }
}

.view {
  .tox.tox-tinymce {
    border: none;

    .tox-toolbar, .tox-statusbar {
      display: none !important;
    }

    .tox-sidebar-wrap {
      border: none !important;

      .tox-edit-area {
        border: none;
      }
    }
  }
}

textarea.textarea {
  padding: @inputPaddingH;
}

.tox-statusbar__branding {
  display: none;
}
