.filter {
  .dropdown;

  background-color: @bgColorMain;
  width: 100%;

  .tree {
    .dropdown-content;
    .scrollBar(12px);
    width: max-content;
    width: -moz-max-content;
    cursor: pointer;
    display: block;
    margin-top: @paddingSmall;
    background-color: @bgWhite;
    user-select: none;
    .box-shadow(2px, 3px, 12px, darken(@boxShadowActive, 10%));
    max-height: 400px;
    overflow-y: auto;
    z-index: 100;

    .tree-node {
      display: block;

      &:hover {
        background-color: @bgWhite;
      }

      .node-row {
        display: block;

        > .table-cell {
          padding: @paddingSmall * 2 @paddingSmall;
          text-align: left;
          vertical-align: middle;

          &:first-child {
            padding-left: @paddingNormal;
          }

          &:last-child {
            padding-right: @paddingNormal;
          }
        }

        .aggregate-icon {
          font-size: @fontSizeSmaller;
          width: 14px;
          height: 14px;
          color: @fontColorSecondary;
          box-sizing: border-box;
        }

        .checkbox-label {
          .flex-container;
          align-items: center;
          margin: 0;

          .checkbox {
            .checkbox();
          }
        }

        .label {
          text-align: left;
          font-size: inherit;
        }
      }

      .node-row:hover {
        background-color: @bgLightGrayBlue;
      }

      .children {
        display: block;

        .node-row {
          padding-left: @paddingNormal * 2;
        }
      }
    }
  }
}