<?php

use Application\View\ViewInterface;

/**
 * @var ViewInterface $this
 *
 * @var string        $content
 * @var bool          $withNavbar
 */

$withNavbar = $withNavbar ?? true;

$staticVersionParam = "?v={$this->version()->staticFiles()}";

$this->jData()->setData("appUrlRoot", [$this->url()->frontend('', '')]);
$this->jData()->setData("brandName", [$this->contact()->brandName()]);
$this->jData()->setData("supportEmail", [$this->contact()->supportEmail()]);

$title = $this->contact()->brandName() . " - Поиск работы";

$facebookAppId = $this->configData()->getFbAppId();

?>

<?= $this->doctype() ?>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content="<?= $title ?>" />
        <meta property="og:image" content="/img/snippet_img.jpg" />

        <?= $this->headTitle($title)->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendName('yandex-verification', "d922ea36a20570db")
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/frontend/common.css') . $staticVersionParam)
            ->prependStylesheet($this->basePath('css/fontawesome/solid.min.css') . $staticVersionParam)
            ->prependStylesheet($this->basePath('css/fontawesome/fontawesome.min.css') . $staticVersionParam)
        ?>

        <!-- //$this->headLink(['rel' => 'stylesheet', 'type' => 'application/octet-stream', 'href' => $this->basePath() . '/fonts/metropolis/Metropolis-Regular.otf']) -->
        
        <?= $this->headScript()
            ->prependFile('/js/lib/tinymce/tinymce.min.js')
            ->prependFile('/js/frontend/index.js' . $staticVersionParam)
            ->prependFile("https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.3&appId=$facebookAppId&autoLogAppEvents=1")
        ?>

        <script type="application/javascript">
            var JDATA = JSON.parse('<?= $this->jData()->json() ?>');
        </script>
    </head>
    <body>
        <div id='mainContent'>
            <?= $content ?>
        </div>
    </body>
</html>
