.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;

  &.center {
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
  }

  &.column {
    flex-flow: column wrap;
  }
}

.flex-item {
  flex:0 1 50px;
  margin: 0 2px;

  &.center {
    text-align: center;
  }
}

.table-cell {
  display: table-cell;
}

a {
  text-decoration: none;
  color: @brandBlue;
  cursor: pointer;
  outline: none;
}

.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-content {
    display: none;
    position: absolute;
    padding: 0;
    min-width: 150px;
    border-radius: @borderRadiusNormal;
  }
}

.box-shadow(@horOffset, @vertOffset, @blurRadius, @color) {
  box-shadow:  @horOffset @vertOffset @blurRadius @color;
  -webkit-box-shadow: @horOffset @vertOffset @blurRadius @color;
  -moz-box-shadow: @horOffset @vertOffset @blurRadius @color;
  -o-box-shadow: @horOffset @vertOffset @blurRadius @color;
}

.transition(@propName, @duration, @func, @delay: 0s) {
  transition: @propName @duration @func @delay;
  -webkit-transition: @propName @duration @func @delay;
  -moz-transition:  @propName @duration @func @delay;
  -ms-transition:  @propName @duration @func @delay;
  -o-transition: @propName @duration @func @delay;
}

.hidden {
  display: none;
}

.form {
  padding: @paddingContainerNormal;
}

.block {
  display: block;
  margin-top: @marginBlock;
  padding: @paddingContainerNormal;
  background-color: white;
}

.form-control {
  border-radius: 0;
  margin: 10px 0 !important;
}

.danger {
  color: @colorDanger;
}

.form-error, .field-error {
  box-sizing: border-box;
  color: @colorDanger;
  margin-top: @paddingSmall;
  padding: @inputPaddingH;
  border-radius: @borderRadiusNormal;
  background-color: lighten(@colorDanger, 50%);
  width: 100%;
}

.has-error {
  border: 1px solid @colorDanger !important;
}

.text-logo {
  font-family: Roboto, monospace;
  font-size: @fontSizeLogo;
  color: @colorTextLogo;
  text-decoration: none;
}

.error {
  border-color: @errorBorder !important;
}

.list {
  .flex-container;

  width: 100%;
}

.pagination {
  .flex-container;
  justify-content: center;
  align-items: center;
  font-size: @fontSizeMoreBigger;
  font-weight: 500;

  li {
    .flex-container;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 30px;
    min-height: 35px;

    text-align: center;
    border: 1px solid transparent;
    border-radius: @borderRadiusNormal;

    a {
      padding: @paddingNormal/2 @paddingNormal;
    }

    &.active {
      background-color: @brandBlue;
      color: white;

      * {
        color: white;
      }

      &:hover {
        background-color: @brandBlue;
        color: white;
      }
    }

    &:hover {
      background-color: @bgWhiteGray;
      border: 1px solid lightgrey;
    }

    &.disabled {
      cursor: not-allowed;
      border: none;
    }
  }
}

.scrollBar(@width: 8px) {
  &::-webkit-scrollbar {
    width: @width;
  }

  &::-webkit-scrollbar-track {
    border-radius: @borderRadiusNormal;
    background: darken(@bgLightGrayBlue, 5%);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: @borderRadiusNormal;
    background: darken(@bgWhiteGray, 16%);

    &:hover {
      background: darken(@bgWhiteGray, 20%);
    }
  }
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.row {
  .flex-container;

  .item {
    .flex-item;
  }
}

.column {
  .flex-container;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.align-end {
    align-items: flex-end;
  }
}

.links {
  margin-top: @marginBlock;

  display: block;
  
  >* {
    display: block;
  }
}

.sub-header {
  margin-top: @marginListRow;
  margin-bottom: @marginListRow;
  color: @fontColorMain;
}

.element {
  .flex-container;
  justify-content: flex-start;
  justify-items: center;
  width: 100%;
  justify-self: center;
  align-self: center;
  margin-bottom: @marginListRow;
}

.inline {
  .flex-container;
  flex-wrap: nowrap;
  justify-content: stretch;
  width: 100%;
  margin-bottom: @marginListRow;
  border-radius: @borderRadiusNormal;
  .box-shadow(-1px, 1px, 6px, @boxShadowDefault);

  &:hover {
    outline: none;

    .box-shadow(-2px, 3px, 12px, @boxShadowActive);
  }

  .element {
    justify-content: stretch;
    margin-bottom: 0;

    &:first-child {
      flex: 1;
      border-radius: @borderRadiusNormal 0 0 @borderRadiusNormal;
    }

    &:last-child {
      flex: 1;
      border-radius: 0 @borderRadiusNormal @borderRadiusNormal 0;
    }

    select, input, button {
      margin: 0;
      box-shadow: none !important;
    }
  }
}

.disabled {
  color: @bgWhiteGray !important;
  border-color: @bgWhiteGray !important;
}

.input {
  .input();
}

.label {
  color: @fontColorSecondary;
  line-height: @lineHeightFormCaption;
}

.border() {
  border: 1px solid @fontColorSecondary;
}

.caption {
  font-size: @fontSizeViewCaption;
  color: @fontColorMain;
}

.brand-blue {
  color: @brandBlue;
}

.form-padding-horizontal {
  padding: 0 @paddingForm;
}

.btn() {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: @borderRadiusNormal;
  height: @buttonHeight;
  border: none;
  flex-grow: 0 !important;
  padding: @paddingButtonNormal @paddingForm;
  box-sizing: border-box;

  .box-shadow(-1px, 1px, 4px, @boxShadowDefault);
  .transition(box-shadow, 0.1s, linear);

  &:hover {
    .box-shadow(-2px, 3px, 10px, @boxShadowActive);
  }
}

.form-size() {
  width: 60%;
  margin: auto auto @marginBlock;
}

.flex-start {
  justify-content: flex-start;
  justify-items: flex-start;
}

.primary {
  background-color: @brandBlue;
  color: @bgWhite;
}

.loading {
  fill: @brandBlue !important;
}

.success {
  color: @colorPositiveText !important;
}

.accepted {
  color: @colorPositiveText;
  background-color: @bgPositive;
}

.rejected {
  color: @colorDanger;
  background-color: @bgDanger;
}

.new {
  color: @colorPositiveText;
}

.text-secondary {
  color: @fontColorSecondary;
}

.h1 {
  font-size: @fontSizeLarge;
}

.row.center {
  justify-content: center;
}

.margin-bot20 {
  margin-bottom: @marginBlock / 2;
}

.fieldset {
  margin-top: 20px;
}

.simple-block {
  .flex-container;

  justify-self: center;
  align-self: flex-start;
  width: 100%;

  padding: @paddingNormal;
  background-color: @bgWhite;
  border-radius: @borderRadiusNormal;

  .row {
    width: 100%;
  }
}

.ulist {
  margin: @marginListItem @marginColumnRoot;

  li {
    padding: @paddingSmall 0;
  }
}

.social-buttons {
  margin-top: @marginSmall !important;

  a {
    padding: 0 @paddingSmall;
  }

  img {
    border-radius: @borderRadiusNormal;
  }
}