@fontFamily: Roboto-Regular, sans-serif;

//Colors
@fontColorMain: #6a6e70;
@fontColorSecondary: #afb4ba;
@bgLightGrayBlue: #f8f9fa;
@bgWhiteGray: #fafafa;
@bgWhite: #ffffff;
@boxShadowDefault: #d2d2d2;
@boxShadowActive: lighten(@boxShadowDefault, 2%);
@brandBlue: #687ff6;
@colorTextLogo: @brandBlue;
@errorBorder: #c73746;
@colorDanger: #b51716;
@bgDanger: #ffdada;
@colorWarning: #b57f16;
@colorPositiveAction: #80d880;
@colorPositiveText: #4d904d;
@colorPositiveSecondaryText: #7ca97c;
@bgPositive: #dbffdb;
@bgWarning: #ffffc6;
@colorWarning: #afaf0a;
@borderColorWarning: #e0e035;

//Component colors
@navbarColor: @bgWhite;
@bgColorMain: @bgLightGrayBlue;

//Sizes
@minScreenWidth: 320px;
@recommendationListWidth: 300px;
@formResumeInputBasis: 250px;
@lineHeight: 1.15;
@lineHeightFilter: 1.5;
@lineHeightFormCaption: 2;
@fontSizeSmall: 0.8rem;
@fontSizeSmaller: 0.85rem;
@fontSizeNestedParam: 0.9rem;
@fontSizeNormal: 1rem;
@fontSizeBigger: 1.1rem;
@fontSizeMoreBigger: 1.3rem;
@fontSizeViewCaption: 1.5rem;
@fontSizeLarge: 2rem;
@fontSizeLogo: 4rem;

@navBarHeight: 64px;
@searchInputHeight: 42px;
@inputPaddingH: 8px;
@inputPaddingV: 3px;
@inputHeight: 30px;
@buttonHeightPrimary: 50px;

@borderRadiusNormal: 3px;
@borderRadiusNavbar: 5px;

@paddingSmall: 4px;
@paddingTextContainer: 7px 10px;
@paddingNormal: 15px;
@paddingBigger: 25px;
@inputPadding: 3px 8px;

@paddingButtonNormal: 10px;
@paddingContainerNormal: 20px;
@paddingForm: 40px;

@marginSmall: 5px;
@marginBlock: 40px;
@marginColumnRoot: 15px;
@marginListRow: 20px;
@marginSimpleListRow: 20px;
@marginListItem: 16px;

@filterBasis: 240px;
@filterItemBaseHeight: 18px;

@itemHolderHeight: 145px;

@inputClearIconContainer: 20px;

@authFormWidth: 400px;

@buttonWidth: 120px;
@buttonHeight: 40px;